$dark-black: #323232;
$black: #4C4C4C;
$light-black: #656565;

$dark-blue: #0197DE;
$blue: #14B3FE;
$light-blue: #47c3FE;

$dark-green: #5EA000;
$green: #7CD300;
$light-green: #95E620;

$dark-orange: #E26800;
$orange: #ff8116;
$light-orange: #FF9D49;
