@import '../styles/colors.scss';

.base {
  padding: 13px 16px;
  border-radius: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid $dark-blue;
  background-color: $blue;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 150px;
  cursor: pointer;
  outline: none;

  &:hover {
    filter: brightness(1.1);
  }
}

.black {
  background-color: $black;
  border-bottom-color: $dark-black;
}

.blue {
  background-color: $blue;
  border-bottom-color: $dark-blue;
}

.green {
  background-color: $green;
  border-bottom-color: $dark-green;
}

.orange {
  background-color: $orange;
  border-bottom-color: $dark-orange;
}
